<!--Header page-->
<div class="header">
    <div class="back-button">
        <a routerLink="/" >
            <img src="../../assets/resources/back_arrow_left_icon.svg" alt="Arrow">
        </a>
    </div>

    <div class="page-tittle">
        <h1 class="title-name">Garantía Legal</h1>
    </div>

    <div class="logo">
        <img class="logo-image" routerLink="/" src="../../assets/resources/logo-entel-new.svg" alt="Logo Entel">
    </div>
</div>

<div class="image-box" id="image-box">
    <img src="../../assets/resources/legal-guarantee/0001_GLP.jpg" alt="Pagina-uno">
    <img src="../../assets/resources/legal-guarantee/0002_GLP.jpg" alt="Pagina-dos">
    <img src="../../assets/resources/legal-guarantee/0003_GLP.jpg" alt="Pagina-tres">
    <img src="../../assets/resources/legal-guarantee/0004_GLP.jpg" alt="Pagina-cuatro">
</div>
