.logo{
    display: flex;
    padding: 20px;
    width: 50%;
}

.entel_logo{
    width: auto;
    max-height: 100px;
    cursor: pointer;
}

.information{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 10%;
    padding: 25px;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
}

.image{
    display: flex;
    justify-content: flex-end;
    padding-top: 5%;
}

.decorative_logo{
    width: auto;
    max-width: 60%;
}
#image-box::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
    }
    
    #image-box::-webkit-scrollbar-thumb {
    background-color: blue;
    }
    
    #image-box::-webkit-scrollbar-thumb:hover {
    background-color: darkblue;
    }
    
    #image-box::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    }
    
    #image-box::-ms-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
    }
    
    #image-box::-ms-scrollbar-thumb {
    background-color: blue;
    }
    
    #image-box::-ms-scrollbar-thumb:hover {
    background-color: darkblue;
    }