<!--Header page-->
<div class="header">
    <div class="back-button">
        <a routerLink="/">
            <img src="../../assets/resources/back_arrow_left_icon.svg" alt="Arrow">
        </a>
    </div>

    <div class="page-tittle">
        <h1 class="title-name">Derechos de Usuario</h1>
    </div>

    <div class="logo">
        <img class="logo-image" routerLink="/" src="../../assets/resources/logo-entel-new.svg" alt="Logo Entel">
    </div>
</div>

<!--Contenido-->
<div class="image-box" id="image-box">
    <img src="../../assets/resources/users-right/0001_DU.jpg" alt="DU-pagina-uno">
    <img src="../../assets/resources/users-right/0002_DU.jpg" alt="DU-pagina-dos">
    <img src="../../assets/resources/users-right/0003_DU.jpg" alt="DU-pagina-tres">
    <img src="../../assets/resources/users-right/0004_DU.jpg" alt="DU-pagina-cuatro">
    <img src="../../assets/resources/users-right/0005_DU.jpg" alt="DU-pagina-cinco">
    <img src="../../assets/resources/users-right/0006_DU.jpg" alt="DU-pagina-seis">
    <img src="../../assets/resources/users-right/0007_DU.jpg" alt="DU-pagina-siete">
    <img src="../../assets/resources/users-right/0008_DU.jpg" alt="DU-pagina-ocho">
    <img src="../../assets/resources/users-right/0009_DU.jpg" alt="DU-pagina-nueve">
    <img src="../../assets/resources/users-right/0010_DU.jpg" alt="DU-pagina-diez">
    <img src="../../assets/resources/users-right/0011_DU.jpg" alt="DU-pagina-once">
    <img src="../../assets/resources/users-right/0012_DU.jpg" alt="DU-pagina-doce">
    <img src="../../assets/resources/users-right/0013_DU.jpg" alt="DU-pagina-trece">
    <img src="../../assets/resources/users-right/0014_DU.jpg" alt="DU-pagina-catorce">
    <img src="../../assets/resources/users-right/0015_DU.jpg" alt="DU-pagina-quince">

</div>