<!--Header page-->
<div class="header">
    <div class="back-button">
        <a routerLink="/" >
            <img src="../../assets/resources/back_arrow_left_icon.svg" alt="Arrow">
        </a>
    </div>

    <div class="page-tittle">
        <h1 class="title-name">Reglamento de Servicio</h1>
    </div>

    <div class="logo">
        <img class="logo-image" routerLink="/" src="../../assets/resources/logo-entel-new.svg" alt="Logo Entel">
    </div>
</div>


<div class="image-box" id="image-box">
    <img src="../../assets/resources/services-rules/0001_RST.jpg" alt="reglamento-servicios-pagina_uno">
    <img src="../../assets/resources/services-rules/0002_RST.jpg" alt="reglamento-servicios-pagina_dos">
    <img src="../../assets/resources/services-rules/0003_RST.jpg" alt="reglamento-servicios-pagina_tres">
    <img src="../../assets/resources/services-rules/0004_RST.jpg" alt="reglamento-servicios-pagina_cuatro">
    <img src="../../assets/resources/services-rules/0005_RST.jpg" alt="reglamento-servicios-pagina_cinco">
    <img src="../../assets/resources/services-rules/0006_RST.jpg" alt="reglamento-servicios-pagina_seis">
    <img src="../../assets/resources/services-rules/0007_RST.jpg" alt="reglamento-servicios-pagina_siete">
    <img src="../../assets/resources/services-rules/0008_RST.jpg" alt="reglamento-servicios-pagina_ocho">
    <img src="../../assets/resources/services-rules/0009_RST.jpg" alt="reglamento-servicios-pagina_nueve">
    <img src="../../assets/resources/services-rules/0010_RST.jpg" alt="reglamento-servicios-pagina_diez">
    <img src="../../assets/resources/services-rules/0011_RST.jpg" alt="reglamento-servicios-pagina_once">
    <img src="../../assets/resources/services-rules/0012_RST.jpg" alt="reglamento-servicios-pagina_doce">
    <img src="../../assets/resources/services-rules/0013_RST.jpg" alt="reglamento-servicios-pagina_trece">
    <img src="../../assets/resources/services-rules/0014_RST.jpg" alt="reglamento-servicios-pagina_catorce">
    <img src="../../assets/resources/services-rules/0015_RST.jpg" alt="reglamento-servicios-pagina_quince">
    <img src="../../assets/resources/services-rules/0016_RST.jpg" alt="reglamento-servicios-pagina_dieciseis">
    <img src="../../assets/resources/services-rules/0017_RST.jpg" alt="reglamento-servicios-pagina_diecisiete">
    <img src="../../assets/resources/services-rules/0018_RST.jpg" alt="reglamento-servicios-pagina_dieciocho">
    <img src="../../assets/resources/services-rules/0019_RST.jpg" alt="reglamento-servicios-pagina_diecinueve">
    <img src="../../assets/resources/services-rules/0020_RST.jpg" alt="reglamento-servicios-pagina_veinte">

</div>
