<div class="firstRow">
    <div class="col-1">
        <img class="entel_logo"routerLink="/"  src="../../assets/resources/entel.png" alt="Logo de Entel">
    </div>
    <div class="col-2">
        <img class="decorative_logo" src="../../assets/resources/people-entel.png" alt="Personas abrazadas sonriendo">
    </div>
</div>

<div class="text-title">
    <h2>Documentación legal</h2>
</div>

<div class="button-container">

    <button routerLink="/encargado-sucursal" class="blue-button"> Encargado de sucursal</button>

    <a routerLink="/garantia-legal">
        <button class="blue-button"> Garantía Legal</button>
    </a>

    <a routerLink="/derechos-usuario">
        <button class="blue-button"> Derechos de usuario</button>
    </a>

    <a routerLink="/reglamento-servicio" >
        <button class="blue-button"> Reglamento de servicios</button>
    </a>
</div>  



